@charset "utf-8";

@font-face {
  font-family: "happy";
  src: url("/Users/imin-u/study/PlantProject/frontend/src/fonts/DNFBitBitTTF.ttf");
}

.app-container {
  background-color: #EFFBF5;
  height: 100vh;
  background-size: cover;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.app-title {
  font-size: 40px;
  font-family: 'happy';
  color: #04B486;
  text-align: center;
  margin-bottom: 30px;
}

.app-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.app-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.app-textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  height: 200px;
}

.app-button {
  font-family: 'happy';
  font-size: 30px;
  padding: 10px 20px;
  background-color: #fff;
  color: #01DFA5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.app-button {
  font-family: 'happy';
  font-size: 30px;
  padding: 10px 20px;
  background-color: #fff;
  color: #01DFA5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.notice-write-component {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editor-wrapper {
  width: 80%;
  max-width: 768px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .editor-wrapper {
    width: 50%;
  }
}

.button-wrapper {
  margin-top: 40px;
}

.ql-toolbar {
  font-size: 1.5rem;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 10px;
}

.ql-container {
  font-size: 1.5rem;
  height: auto;
}

.ql-editor {
  min-height: 300px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .ql-editor {
    height: auto;
    padding: 20px;
    border-radius: 10px;
  }
}

.notice-write-component {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editor-wrapper {
  width: 80%;
  max-width: 768px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .editor-wrapper {
    width: 50%;
  }
}

.button-wrapper {
  margin-top: 40px;
}

.ql-toolbar {
  font-size: 1.5rem;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 10px;
}

.ql-container {
  font-size: 1.5rem;
  height: auto;
}

.ql-editor {
  min-height: 300px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-y: scroll;
}

@media (min-width: 768px) {
  .ql-editor {
    height: auto;
    padding: 20px;
    border-radius: 10px;
  }
}

